In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [10]:
df = pd.read_csv("c:\\Users\\HP\\anaconda3\\home_prices.csv")

In [11]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  562000
2  3200      NaN   18  610000
3  3600      3.0   30  680000
4  4000      5.0    8  725000

In [15]:
med = df.bedroom.median()
med

3.5

In [17]:
import math
median_bedrooms = math.floor(med)

In [18]:
median_bedrooms

3

In [21]:
df.bedroom = df.bedroom.fillna(median_bedrooms)

In [22]:
df.bedroom

0    3.0
1    4.0
2    3.0
3    3.0
4    5.0
Name: bedroom, dtype: float64

In [23]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  562000
2  3200      3.0   18  610000
3  3600      3.0   30  680000
4  4000      5.0    8  725000

In [25]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedroom','age']],df.price)

LinearRegression()

reg.coef_

In [26]:
reg.coef_

array([  146.175, -9057.5  ,   202.5  ])

In [27]:
reg.intercept_

174867.50000000017

In [28]:
reg.predict([[3000,3,40]])

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([594320.])

In [30]:
146.175*3000+-9057.5*3+ 202.5*40 +174867.50000000017

594320.0000000002